{% comment %} {% extends 'base.html' %} {% block content %} {% endcomment %}
<div>
  <h2>Login Report</h2>
  <div>
    <div>
      <form method="post">
        {% csrf_token %} 
        {% comment %} {{ form|crispy }} {% endcomment %}
        <button class="btn btn-primary">Sign In</button>
      </form>
    </div>
    <div>
      <small class="text-muted"
        >Need an account?
        {% comment %} <a href="{% url 'signup' %}" class="ml-2">Sign Up</a></small {% endcomment %}
      {% comment %} > {% endcomment %}
    </div>
  </div>
</div>
{% comment %}
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in login_logout_history %}
    <tr>
      <td>{{ entry.user.username }}</td>
      <td>{{ entry.action }}</td>
      <td>{{ entry.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endcomment %}
 {% comment %} {% endblock %} {% endcomment %}
